/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


header {
  background-color: #222;
  color: #fff;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

section.contact {
  margin-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.contact h2 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}


.contact-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 40%;
}

.contact-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 16px;
  line-height: 1.5
